/* /* css  */
/* TODO: working o n it */
/* FIXME::backdrop */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* typography */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --border-radius: 30px;
  --color-border: #ccc;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /* which gives 10px  as if browser default font size 
  changes then it changes accordingly if we give 10px it won't happen*/
}
body {
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--color-body);
  font-size: 2.5rem;
  line-height: 1.5;
  /* background-color: black; */
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/* links */
a {
  text-decoration: none;
}

.link-arrow {
  text-transform: capitalize;
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.2s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

/* badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: no-wrap; /* it is used to keep all the text in one line */
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

/* lists */
.list {
  list-style: none;
  padding: 0;
  color: var(var(--color-headings));
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("./icons/tick.svg");
  padding-left: 4rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
/* icons */
.icon {
  width: 50px;
  height: 50px;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  /* we use single hyphen - just to seperate the words and it's completely new one */
  background-color: #f1f2f1f0;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
}

/* buttons */
.btn {
  border-radius: 40px;
  border: 0;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}
.btn--primary {
  background-color: var(--color-primary);
  color: white;
}
.btn--primary:hover {
  background-color: #3a4becbf;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.btn--secondary:hover {
  background: #35c0d8df;
}
.btn--accent {
  background-color: var(--color-accent);
  color: white;
}
.btn--accent:hover {
  background: #ec5029;
  color: #fff;
}
.btn__block {
  width: 100%;
  display: inline-block;
}
.btn--outline {
  background-color: var(--color-headings);
  color: #fff;
  transition: background-color 0.5s;
}
.btn--outline:hover {
  background-color: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

/* inputs  */
.input {
  padding: 1.5rem 3.5rem;
  color: var(--color-headings);
  border-radius: var(--border-radius);
  outline: none;
  border: 1px solid var(--color-border);
  font-size: 2rem;
}

.input::placeholder {
  color: #918ca4;
}

.input-group {
  border: 1px solid var(--color-border);
  display: flex;
  border-radius: var(--border-radius);
}

.input-group .input {
  border: none;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .btn {
  margin: 4px;
}
/* -------------------large screen  version--------------- */

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8 rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  /* links */
  .link-arrow {
    font-size: 1.5rem;
  }
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }

  .list--tick .list__item {
    padding-left: 0;
  }

  /* buttons */
  .btn {
    font-size: 1.5rem;
  }

  /* inputs */
  .input::placeholder {
    color: #918ca4;
    font-size: 1.5rem;
  }
}
